.navigation {
    min-width: 350px;
    width: clamp(300px, 500vw ,350px);
    padding: 40px;
    background-color: var(--secondary-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navLinks {
    margin-top: 40px;
}

.bottomNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}